{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "legacyDecorators": true
    },
    "sourceType": "module",
    "useJSXTextNode": false
  },
  "env": {
    "browser": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react/prop-types": 0,
    // JSX только в файлах .jsx, нам не нужно
    "react/jsx-filename-extension": 0,

    // Необходимо в каждый пакет дописать peerDependencies, если
    // зависимость не содержится в пакете
    "import/no-extraneous-dependencies": 0,

    // Мы не хотим при импорте указывать расширение файла, кроме json
    "import/extensions": ["error", "always", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],

    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1, "maxBOF": 0 }],

    // Нам к сожалению нужны интерактивные div'ы
    "jsx-a11y/no-static-element-interactions": 0,

    // Мы не подменяем прототипы объектов, поэтому правило не имеет для нас
    // ценности
    "no-prototype-builtins": 0,

    // Ребята из airbnb считают, что даже в циклах не стоит использовать ++
    // в основном потому, что они в целом избегают for, while, и т.д.
    // мы же их иногда используем
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],

    // Запрещаем функции с телом в одну строчку типа (arg) => { return arg; }
    // Делаем перенос строки обязательным
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],

    "no-unused-expressions": ["error", {
      "allowTernary": true
    }],
    // Тернарник обязательно должен быть многострочным вида
    // condition
    //   ? expression1
    //   : expression2
    "multiline-ternary": ["error", "always"],
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],

    // все if должны быть с фигурными скобками
    "curly": ["error", "all"],

    // https://eslint.org/docs/rules/function-paren-newline
    // https://eslint.org/docs/rules/object-curly-newline
    // Не нашел подходящую для нас опцию, голосовали за miltiline, но с ним не
    // все ок
    "function-paren-newline": "off",
    "object-curly-newline": "off",

    // Нам не нужно
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",

    // After update
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "camelcase": ["error", { "properties": "never", "ignoreDestructuring": false, "allow": ["UNSAFE_isFeatureEnabledSync"] }]
  }
}
